// Color Classes
//@see http://www.google.com/design/spec/style/color.html

$slick-blue: (
  "50":   #78859a,
  "100":  #6b788e,
  "200":  #606c80,
  "300":  #556071,
  "400":  #4a5363,
  "500":  #3f4754,
  "600":  #343b45,
  "700":  #292e37,
  "800":  #1e2228,
  "900":  #13161a,
);

$red: (
  "50":   #ffebee,
  "100":  #f8c1c3,
  "200":  #f3989b,
  "300":  #ee6e73,
  "400":  #ea454b,
  "500":  #f44336,
  "600":  #d0181e,
  "700":  #b9151b,
  "800":  #a21318,
  "900":  #8b1014,
);

$pink: (
  "50":   #fce4ec,
  "100":  #f8bbd0,
  "200":  #f48fb1,
  "300":  #f06292,
  "400":  #ec407a,
  "500":  #e91e63,
  "600":  #d81b60,
  "700":  #c2185b,
  "800":  #ad1457,
  "900":  #880e4f,
);

$purple: (
  "50":   #f3e5f5,
  "100":  #e1bee7,
  "200":  #ce93d8,
  "300":  #ba68c8,
  "400":  #ab47bc,
  "500":  #9c27b0,
  "600":  #8e24aa,
  "700":  #7b1fa2,
  "800":  #6a1b9a,
  "900":  #4a148c,
);

$deep-purple: (
  "50":   #ede7f6,
  "100":  #d1c4e9,
  "200":  #b39ddb,
  "300":  #9575cd,
  "400":  #7e57c2,
  "500":  #673ab7,
  "600":  #5e35b1,
  "700":  #512da8,
  "800":  #4527a0,
  "900":  #311b92,
);

$indigo: (
  "50":   #e8eaf6,
  "100":  #c5cae9,
  "200":  #9fa8da,
  "300":  #7986cb,
  "400":  #5c6bc0,
  "500":  #3f51b5,
  "600":  #3949ab,
  "700":  #303f9f,
  "800":  #283593,
  "900":  #1a237e,
);

$blue: (
  "50":   #E3F2FD,
  "100":  #BBDEFB,
  "200":  #90CAF9,
  "300":  #64B5F6,
  "400":  #42A5F5,
  "500":  #2196F3,
  "600":  #1E88E5,
  "700":  #1976D2,
  "800":  #1565C0,
  "900":  #0D47A1,
);

$light-blue: (
  "50":   #e8eaf6,
  "100":  #c5cae9,
  "200":  #9fa8da,
  "300":  #7986cb,
  "400":  #5c6bc0,
  "500":  #3f51b5,
  "600":  #3949ab,
  "700":  #303f9f,
  "800":  #283593,
  "900":  #1a237e,
);

$cyan: (
  "50":   #e8eaf6,
  "100":  #c5cae9,
  "200":  #9fa8da,
  "300":  #7986cb,
  "400":  #5c6bc0,
  "500":  #3f51b5,
  "600":  #3949ab,
  "700":  #303f9f,
  "800":  #283593,
  "900":  #1a237e,
);

$teal: (
  "50":   #e8eaf6,
  "100":  #c5cae9,
  "200":  #9fa8da,
  "300":  #7986cb,
  "400":  #5c6bc0,
  "500":  #3f51b5,
  "600":  #3949ab,
  "700":  #303f9f,
  "800":  #283593,
  "900":  #1a237e,
);

$cyan: (
  "50":   #e8eaf6,
  "100":  #c5cae9,
  "200":  #9fa8da,
  "300":  #7986cb,
  "400":  #5c6bc0,
  "500":  #3f51b5,
  "600":  #3949ab,
  "700":  #303f9f,
  "800":  #283593,
  "900":  #1a237e,
);

$green: (
  "50":   #e8eaf6,
  "100":  #c5cae9,
  "200":  #9fa8da,
  "300":  #7986cb,
  "400":  #5c6bc0,
  "500":  #3f51b5,
  "600":  #3949ab,
  "700":  #303f9f,
  "800":  #283593,
  "900":  #1a237e,
);

$light-green: (
  "50":   #e8eaf6,
  "100":  #c5cae9,
  "200":  #9fa8da,
  "300":  #7986cb,
  "400":  #5c6bc0,
  "500":  #3f51b5,
  "600":  #3949ab,
  "700":  #303f9f,
  "800":  #283593,
  "900":  #1a237e,
);

$lime: (
  "50":   #e8eaf6,
  "100":  #c5cae9,
  "200":  #9fa8da,
  "300":  #7986cb,
  "400":  #5c6bc0,
  "500":  #3f51b5,
  "600":  #3949ab,
  "700":  #303f9f,
  "800":  #283593,
  "900":  #1a237e,
);

$yellow: (
  "50":   #e8eaf6,
  "100":  #c5cae9,
  "200":  #9fa8da,
  "300":  #7986cb,
  "400":  #5c6bc0,
  "500":  #3f51b5,
  "600":  #3949ab,
  "700":  #303f9f,
  "800":  #283593,
  "900":  #1a237e,
);

$amber: (
  "50":   #e8eaf6,
  "100":  #c5cae9,
  "200":  #9fa8da,
  "300":  #7986cb,
  "400":  #5c6bc0,
  "500":  #3f51b5,
  "600":  #3949ab,
  "700":  #303f9f,
  "800":  #283593,
  "900":  #1a237e,
);

$orange: (
  "50":   #e8eaf6,
  "100":  #c5cae9,
  "200":  #9fa8da,
  "300":  #7986cb,
  "400":  #5c6bc0,
  "500":  #3f51b5,
  "600":  #3949ab,
  "700":  #303f9f,
  "800":  #283593,
  "900":  #1a237e,
);

$deep-orange: (
  "50":   #e8eaf6,
  "100":  #c5cae9,
  "200":  #9fa8da,
  "300":  #7986cb,
  "400":  #5c6bc0,
  "500":  #3f51b5,
  "600":  #3949ab,
  "700":  #303f9f,
  "800":  #283593,
  "900":  #1a237e,
);

$brown: (
  "50":   #e8eaf6,
  "100":  #c5cae9,
  "200":  #9fa8da,
  "300":  #7986cb,
  "400":  #5c6bc0,
  "500":  #3f51b5,
  "600":  #3949ab,
  "700":  #303f9f,
  "800":  #283593,
  "900":  #1a237e,
);

$grey: (
  "50":   #e8eaf6,
  "100":  #c5cae9,
  "200":  #9fa8da,
  "300":  #7986cb,
  "400":  #5c6bc0,
  "500":  #3f51b5,
  "600":  #3949ab,
  "700":  #303f9f,
  "800":  #283593,
  "900":  #1a237e,
);

$blue-grey: (
  "50":   #e8eaf6,
  "100":  #c5cae9,
  "200":  #9fa8da,
  "300":  #7986cb,
  "400":  #5c6bc0,
  "500":  #3f51b5,
  "600":  #3949ab,
  "700":  #303f9f,
  "800":  #283593,
  "900":  #1a237e,
);

$black: #000;
$white: #fff;
