// Mixins

// Media Query
@mixin breakpoint($size) {
  @if($size == small) {
    @media (min-width: $grid-small-breakpoint) {
      @content;
    }
  }

  @else if $size == medium {
    @media (min-width: $grid-medium-breakpoint) {
      @content;
    }
  }

  @else if $size == large {
    @media (min-width: $grid-large-breakpoint) {
      @content;
    }
  }
}

// Grid

// Default grid widths calculations
@mixin cell-size-default($columns, $gutter) {
  @for $i from 1 through $grid-default-columns {
    .col-#{$i} {
      $column-percent: ($i / $columns) * 100;
      @if ($column-percent > 100) {
        flex: 0 0 calc(#{ 100% } - #{$gutter});
      }
      @else {
        flex: 0 0 calc(#{(($i / $columns) * 100)+"%"} - #{$gutter});
      }
    }
  }
}

// Default specific grid offsets calculations
@mixin cell-offset-default($columns, $gutter, $screen-size) {
  @for $i from 1 through $grid-default-columns - 1 {
    .offset-#{$i} {
      $column-percent: ($i / $columns) * 100;
      @if ($screen-size ==  's') {
        @if ($column-percent > 87.5) {
          margin-left: 0;
        }
      }
      @else if ($screen-size ==  'm') {
        @if ($column-percent > 75) {
          margin-left: 0;
        }
      }
      @else {
        margin-left: calc(#{(($i / $columns) * 100)+"%"} + #{$gutter / 2});
      }
    }
  }
}

// Device specific grid widths calculations
@mixin cell-size-device($columns, $gutter, $screen-size) {
  @for $i from 1 through $columns {
    .col-#{$screen-size}#{$i} {
      flex: 0 0 calc(#{(($i / $columns) * 100)+"%"} - #{$gutter});
    }
  }
}

// Device specific grid offsets calculations
@mixin cell-offset-device($columns, $gutter, $screen-size) {
  @for $i from 1 through $columns - 1 {
    .offset-#{$screen-size}#{$i} {
      margin-left: calc(#{(($i / $columns) * 100)+"%"} + #{$gutter / 2});
    }
  }
}

// Waves
@mixin waves-transition($transition) {
  transition: $transition;
}

@mixin waves-transform($string) {
  transform: $string;
}

@mixin waves-box-shadow($shadow) {
  box-shadow: $shadow;
}
